includes:

parameters:

  paths:
    - src

  # The level 8 is the highest level
  level: 6

  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - identifier: staticMethod.notFound
    - '#Method [a-zA-Z\\\<\>]+::handle\(\) should return bool\|null but returns int.#'
    - '#Access to an undefined property Joserick\\Filament\\DevTool\\Commands\\.*::\$.*#'
    - '#Access to an undefined property Joserick\\Filament\\DevTool\\Commands\\Concerns\\InteractsWithCanvasPreset::\$.*#'

  reportUnmatchedIgnoredErrors: false
